<h1>Ask question</h1>
<form action="/answer" method="get" id="form">
  <input type="text" name="question" placeholder="Talk to the coach!" class="input_bar">
  <input type="submit" value="Ask!" class="button">
</form>
